{% load static %}
{#{% load pwa %}#}
<!DOCTYPE html>
<html lang="en">
<head>
	{#	{% progressive_web_app_meta %}#}
	{% include 'Base/GoogleAnalytics.html' %}
	{% include 'Base/HeadMeta.html' %}
	{% include 'Base/HeadLinks.html' %}
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
<div class="flex-grow-1">
	{% include 'Base/NavigationBar.html' %}
	{% block body %}{% endblock %}
</div>
<div class="">
	{% include 'Base/Footer.html' %}
</div>
<div id="additionalScripts">
	{% block additionalScripts %}{% endblock %}
</div>
</body>
</html>