{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{#	<title>Page Title. Maximum length 60-70 characters</title>#}
<title>{{ title }}</title>
<meta name="title" content="{{ title }}">
<meta name="application-name" content="VegItNow">
{#	<meta name="description" content="Page description. No longer than 155 characters."/>#}
<meta name="author" content="VegItNow">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="theme-color" content="#3da313">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="mask-icon" href="{% static 'img/mask-icon.svg' %}" color="#3da313" sizes="any">

{#	<!-- Apple Mobile -->#}
<meta name="apple-mobile-web-app-title" content="VegItNow">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-precomposed.png' %}">

{#-------------------------------------------------------------------------------#}
{#	<!-- Schema.org markup for Google+ -->#}
<meta itemprop="name" content="VegItNow">
<meta itemprop="description" content="">
<meta itemprop="image" content="{% static 'img/logo.png' %}">

{#	<!-- Twitter Card data -->#}
<meta name="twitter:card" content="{% static 'img/logo.png' %}">
<meta name="twitter:site" content="VegItNow">
<meta name="twitter:title" content="{{ title }}">
{#	<meta name="twitter:description" content="Page description less than 200 characters">#}
<meta name="twitter:description" content="">
<meta name="twitter:creator" content="VegItNow">
{#	<!-- Twitter summary card with large image must be at least 280x150px -->#}
<meta name="twitter:image:src" content="{% static 'img/logo.png' %}">
<meta name="twitter:image:alt" content="VegItNow Logo">


{#	<!-- Open Graph data -->#}
<meta property="og:title" content="{{ title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="/"/>
<meta property="og:image" content="{% static 'img/logo.png' %}"/>
<meta property="og:description" content=""/>
<meta property="og:site_name" content="VegItNow"/>
{#	<meta property="article:published_time" content="2013-09-17T05:59:00+01:00"/>#}
{#	<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00"/>#}
{#	<meta property="article:section" content="Article Section"/>#}
{#	<meta property="article:tag" content="Article Tag"/>#}
{#	<meta property="fb:admins" content="VegItNow"/>#}
{#	<meta property="fb:app_id" content="VegItNow"/>#}