.bgGreen0 {
	background-color: #2d6c13;
}

.bgGreenTrans0 {
	background-color: rgba(44, 107, 18, 0.75);
}

.bgGreen1 {
	background-color: #b6e4a2;
}

.bgGreen2 {
	background-color: #3da313;
}

.bgGreen3 {
	background-color: #d4f4c6;
}

.bgGreen4 {
	background-color: #e9f9e3;
}

.fgGreen0 {
	color: #316e17 !important;
}

.fgGreen1 {
	color: #327317 !important;
}

.fgGray0 {
	color: #282828 !important;
}

.fgGray1 {
	color: #434343 !important;
}
