body {
	background-color: #fafafa;
}

.dropdown-menu {
	font-size: 0.8rem;
}

.bg-light-gray {
	background-color: #fafafa;
}

.navbar-toggler {
	border: 0;
}

.full-screen-img {
	height: 100vh;
	background-repeat: inherit;
	background-position: center center;
	background-size: cover;
}

.full-box-img {
	background-repeat: inherit;
	background-position: center center;
	background-size: cover;
}

.carousel-blur {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}

.navbar-placeholder {
	height: 100px;
	/*background: #fafafa;*/
	margin-bottom: 20px;
}

.hr-red {
	border-top: 1px solid #3da313;
}

.hr-black {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hr-white {
	border-top: 1px solid white;
}

.bg-dark {
	background-color: #212121;
	color: white;
}

.btn-circle {
	height: 45px;
	width: 45px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 100%;
}

@media (max-width: 576px) {
	.border-top-sm {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

@media (max-width: 768px) {
	.border-top-md {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

@media (max-width: 992px) {
	.border-top-lg {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

.navbar-social {
	transition: .5s;
}

.navbar-social:hover {
	color: #3da313 !important;
}

.dropdown-menu {
	background-color: #3da313;
	color: white !important;
}

.dropdown-menu a {
	color: white;
}

.navbar-item-vertical-offset {
	position: static;
}

@media (min-width: 768px) {
	.navbar-item-vertical-offset {
		position: absolute;
		top: 25px;
	}
}

.flex-basis-fix {
	flex-basis: 0;
}

@media (min-width: 768px) {
	.flex-basis-fix {
		flex-basis: auto;
	}
}

.vegShop-btn {
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #3da313;
	clip-path: polygon(0% 58%, 15% 1%, 21% 0%, 28% 9%, 49% 1%, 80% 3%, 85% 1%, 100% 44%, 91% 100%, 85% 95%, 79% 97%, 19% 93%, 16% 98%, 11% 98%);
}

.vegShop-btn span {
	margin: auto;
	font-weight: bold;
	color: white;
}

.locale-btn {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #3da313;
	clip-path: polygon(0% 46%, 12% 13%, 10% 1%, 31% 0%, 58% 2%, 77% 1%, 93% 10%, 100% 33%, 97% 65%, 84% 92%, 74% 100%, 45% 100%, 34% 97%, 22% 100%, 9% 92%);
}

.locale-btn span {
	margin: auto;
	font-weight: bold;
	color: white;
}

@font-face {
	font-family: 'AC-ScriptCondenced_unicode';
	src: url('../fonts/AC-ScriptCondenced_unicode.ttf') format('truetype')
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'AC-ScriptCondenced_unicode', sans-serif;
	/*letter-spacing: 0.1em;*/
}

p {
	font-family: 'AlegreyaSans', sans-serif;
}

.sans {
	font-family: 'AC-ScriptCondenced_unicode', sans-serif;
	/*letter-spacing: 0.1em;*/
}

.btn {
	font-family: 'AlegreyaSans', sans-serif;
	font-weight: bold;
}

.btn-shadow {
	-webkit-box-shadow: 0 2px 0 0 rgba(45, 108, 19, 1), 0 4px 0 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 2px 0 0 rgba(45, 108, 19, 1), 0 4px 0 0 rgba(255, 255, 255, 1);
	box-shadow: 0 2px 0 0 rgba(45, 108, 19, 1), 0 4px 0 0 rgba(255, 255, 255, 1);
}

.animateClass {
	clip-path: polygon(20% 0%, 0% 0%, 0% 50%, 0% 80%, 0% 100%, 50% 100%, 80% 100%, 100% 100%, 100% 50%, 100% 0%, 80% 0%, 50% 0%);
	transition: -webkit-clip-path 0.2s;
}

.animateClass:hover {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
