{% extends 'Base/base.html' %}
{% load i18n %}
{% load static %}
{% block body %}
	<div class="navbar-placeholder"></div>
	<div id="createArticle" class="container mb-5">
		<h1 class="text-center">{% trans 'Create Article' %}</h1>
		<div class="input-group mb-3" style="width: fit-content">
			<div class="input-group-prepend">
				<label class="input-group-text" for="selectArticleType">{% trans 'Create a new' %}</label>
			</div>
			<select class="custom-select" id="selectArticleType">
				<option v-for="articleType in articleTypes" :value="articleType.id">[[ articleType.Name ]]</option>
			</select>
		</div>

		<div id="ArticleForm">
			<form class="pb-5">
				<div class="form-group row">
					<label for="ArticleLanguage" class="col-sm-2 col-form-label">{% trans 'Select Language:' %}</label>
					<div class="col-sm-10">
						<select class="custom-select" id="ArticleLanguage">
							<option v-for="language in languages" :value="language.id">[[ language.Name ]]</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="ArticleTitle" class="col-sm-2 col-form-label">{% trans 'Title:' %}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="ArticleTitle" placeholder="{% trans 'Title' %}">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">{% trans 'Thumbnail:' %}</label>
					<div class="col-sm-10">
						<div class="custom-file">
							<label class="custom-file-label" for="ArticleThumbnail">{% trans 'Choose file' %}</label>
							<input type="file" class="custom-file-input" id="ArticleThumbnail">
						</div>
					</div>
				</div>

				<fieldset class="form-group">
					<div class="row">
						<label class="col-form-label col-sm-2 pt-0">{% trans 'Ingredients:' %}</label>
						<div class="col-sm-10">
							<ul v-if="selectedIngredients.length!==0">
								<li v-for="(ingredient, index) in selectedIngredients">
									<span>[[ ingredient.ingredient.Name ]]</span>
									<div class="form-check form-check-inline ml-3" style="border-left: solid 1px; border-right: solid 1px;">
										<input class="form-check-input ml-3" type="checkbox" v-model="ingredient.isMainIngredient" :id="'isMainIngredientCheckbox' + index">
										<label class="form-check-label mr-3" :for="'isMainIngredientCheckbox' + index">{% trans 'Main Ingredient' %}</label>
									</div>
									<a class="text-dark ml-2" @click="removeSelectedIngredient(index)"><i class="fas fa-trash"></i></a>
								</li>
							</ul>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<label class="input-group-text" for="IngredientSelect">{% trans 'Select Ingredient' %}</label>
								</div>
								<select class="custom-select" id="IngredientSelect" v-model="selectedIngredient">
									<option v-for="ingredient in ingredients" :value="ingredient">[[ ingredient.Name ]]</option>
								</select>
							</div>
							<div class="btn bgGreen0 text-white" @click="selectIngredient()"><i class="fas fa-plus"></i> Add</div>
						</div>
					</div>
				</fieldset>

				<div class="form-group row">
					<div class="col-sm-2">
						<label for="ArticleContent">{% trans 'Content:' %}</label>
					</div>
					<div class="col-sm-10">
						<div id="ArticleContent"></div>
					</div>
				</div>

				<div class="form-group row">
					<label for="ArticleReleaseDate" class="col-sm-2 col-form-label">{% trans 'Release Date:' %}</label>
					<div class="col-sm-10">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control mb-3" id="ArticleReleaseDate" placeholder="{% trans 'Date' %}">
							</div>
							<div class="col">
								<input type="text" class="form-control" id="ArticleReleaseTime" placeholder="{% trans 'Time' %}">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-12">
						<button type="button" class="btn bgGreen0 text-white"><i class="fas fa-plus"></i> {% trans 'Add Language' %}</button>
					</div>
				</div>

				<div class="form-group row mb-5">
					<div class="col-auto">
						<button type="submit" class="btn bgGreen0 text-white"><i class="fas fa-save"></i> {% trans 'Save' %}</button>
					</div>
					<div class="col-auto">
						<div class="form-check form-check-inline my-auto h-100">
							<input class="form-check-input" type="checkbox" id="ArticleMarkDoneEditing" v-model="doneEditing">
							<label class="form-check-label" for="ArticleMarkDoneEditing">{% trans 'Mark as Done Editing' %}</label>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div id="RecipeForm"></div>

		<ol>
			<todo-item
					v-for="item in languages"
					v-bind:todo="item"
					v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>
{% endblock %}


{% block additionalScripts %}
	<script src="{% static 'js/vuejs/components/createArticle.js' %}"></script>
	<script>
		$('#ArticleContent').summernote({
			placeholder: 'Article content...',
			tabsize: 2,
			height: 300
		});
	</script>
{% endblock %}