{% load static %}
{% load i18n %}
<div class="col-12 col-lg-6 mb-3">
	<div class="row">
		<div class="col-6">
			<h4>Φάβα με ελαιόλαδο και κρεμμύδι</h4>
			<hr class="fgGreen1" style="border-top: dashed 2px;">
			<p style="font-size: 0.8em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		</div>
		<div class="col-6 d-table">
			<div class="d-table-cell align-middle">
				<div class="full-screen-carousel-img" style="background-image: url({% static 'img/carouselFava.png' %}); height: 160px;"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<a href="#" class="btn px-4 bgGreen0 text-white text-uppercase font-weight-bold mx-auto" style="border-radius: 2rem;">{% trans "Read more" %}</a>
	</div>
</div>