{% extends 'Base/base.html' %}
{% load form_manipulation_filters %}
{% block body %}
	<div class="navbar-placeholder"></div>
	<div class="container">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow-sm">
				<div class="card-header">
					<h3 class="card-title text-center">{% block title %}{% endblock %}</h3>
				</div>
				<div class="card-body">
					<form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% for field in form %}
							<div class="form-group">
								<label for="{{ field.id }}">{{ field.label_tag }}</label>
								{{ field|addcss:"form-control" }}
								<small class="text-danger">{{ field.errors }}</small>
							</div>
						{% endfor %}
						{#						<div class="form-row">#}
						<button type="submit" class="btn btn-outline-success">
							{% block submitButtonTitle %}{% endblock %}
						</button>
						<a class="btn btn-outline-secondary" href="{% block additionalLink %}{% endblock %}">
							{% block additionalLinkTitle %}{% endblock %}
						</a>
						{#						</div>#}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}