{% load i18n %}
<div class="d-flex justify-content-center justify-content-lg-start" style="font-size: 0.8em; border-radius: 2px">
	<div class="p-2 bg-white text-center" style="border-top-left-radius: 2px; border-bottom-left-radius: 2px;">
		<p class="text-capitalize m-0 sans">{% trans "Energy" %}</p>
		<strong>137</strong>
		<p class="sans fgGreen0 m-0">6.7%*</p>
	</div>
	<div class="p-2 bgGreen4 text-center">
		<p class="text-capitalize m-0 sans">{% trans "Carbohydrate" %}</p>
		<strong>3.8g</strong>
		<p class="sans fgGreen0 m-0">6.7%*</p>
	</div>
	<div class="p-2 bgGreen4 text-center">
		<p class="text-capitalize m-0 sans">{% trans "Fat" %}</p>
		<strong>5g</strong>
		<p class="sans fgGreen0 m-0">6.7%*</p>
	</div>
	<div class="p-2 bgGreen4 text-center">
		<p class="text-capitalize m-0 sans">{% trans "Sat. Fat" %}</p>
		<strong>2.4g</strong>
		<p class="sans fgGreen0 m-0">6.7%*</p>
	</div>
	<div class="p-2 bgGreen4 text-center"
	     style="border-top-right-radius: 2px; border-bottom-right-radius: 2px;">
		<p class="text-capitalize m-0 sans">{% trans "Salt" %}</p>
		<strong>0.4g</strong>
		<p class="sans fgGreen0 m-0">6.7%*</p>
	</div>
</div>
<p class="text-dark text-center text-lg-left" style="font-size: 0.8em;">{% trans "* Reference intake of an average adult (8400kJ/2000kcal)" %}</p>