{% load static %}
<div id="IngredientOfTheDay" class="bgGreen1 pb-5">
	<h1 class="text-center fgGreen0" style="position: relative; top: -0.5em;">Το Συστατικό της ημέρας</h1>
	<div class="container">
		<div class="row text-center align-items-center">
			<div class="col-md-4 mb-3 fgGreen0 order-1 order-md-0">
				<h1>Καρότο</h1>
				<div class="d-flex justify-content-center">
					<div class="p-3 bg-white">
						<p class="text-capitalize m-0 sans">Θερμίδες</p>
						<strong>137</strong>
						<p class="sans fgGreen0 m-0">6.7%*</p>
					</div>
					<div class="p-3 bgGreen4">
						<p class="text-capitalize m-0 sans">Σάκχαρα</p>
						<strong>3.8g</strong>
						<p class="sans fgGreen0 m-0">6.7%*</p>
					</div>
					<div class="p-3 bgGreen4">
						<p class="text-capitalize m-0 sans">Λίπη</p>
						<strong>5g</strong>
						<p class="sans fgGreen0 m-0">6.7%*</p>
					</div>
					<div class="p-3 bgGreen4">
						<p class="text-capitalize m-0 sans">Κορ.Λίπη</p>
						<strong>2.4g</strong>
						<p class="sans fgGreen0 m-0">6.7%*</p>
					</div>
					<div class="p-3 bgGreen4">
						<p class="text-capitalize m-0 sans">Αλάτι</p>
						<strong>0.4g</strong>
						<p class="sans fgGreen0 m-0">6.7%*</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mx-auto mb-3 order-0 order-md-1">
				<div class="bg-white rounded-circle mx-auto"
				     style="
						     height: 190px;
						     width: 190px;
						     background-size: cover;
						     background-repeat: inherit;
						     background-position: center center;
						     background-image: url({% static 'img/karota.png' %});">
				</div>
				<div class="dashedCircle rotating mx-auto" style="height: 210px; width: 210px; margin-top: -200px;"></div>
			</div>
			<div class="col-md-4 mb-3 order-2 order-md-2">
				<div class="btn bgGreen2 text-white px-4" style="border-radius: 2rem;">Δες Συνταγές</div>
			</div>
		</div>
	</div>
</div>
