{% load static %}
{% load i18n %}
<div id="Recipes" class="bgGreen4 pb-5">
	<h1 class="text-center fgGreen0" style="position: relative; top: -0.5em;">{% trans "Recipes" %}</h1>
	<div class="container">
		<div class="row text-center align-items-center">
			<div id="recipeCard0" class="col-12 col-lg-6 col-xl-4">
				<div class="row">
					<div class="col-6">
						<h4>Φάβα με ελαιόλαδο και κρεμμύδι</h4>
						<hr class="fgGreen1" style="border-top: dashed 2px;">
						<h5 class="fgGreen1">{% trans "Main Ingredients:" %}</h5>
						<p style="font-size: 0.8em;">Fava, Kapari, Diosmos</p>
						<h5 class="fgGreen1">{% trans "Ready in:" %}</h5>
						<p style="font-size: 0.8em;">10 Min</p>
					</div>
					<div class="col-6 d-table">
						<div class="d-table-cell align-middle">
							<div class="full-screen-carousel-img" style="background-image: url({% static 'img/carouselFava.png' %}); height: 160px;"></div>
						</div>
					</div>
				</div>

			</div>
			<div id="recipeCard1" class="col-12 col-lg-6 col-xl-4">
				<div class="row">
					<div class="col-6">
						<h4>Φάβα με ελαιόλαδο και κρεμμύδι</h4>
						<hr class="fgGreen1" style="border-top: dashed 2px;">
						<h5 class="fgGreen1">{% trans "Main Ingredients:" %}</h5>
						<p style="font-size: 0.8em;">Fava, Kapari, Diosmos</p>
						<h5 class="fgGreen1">{% trans "Ready in:" %}</h5>
						<p style="font-size: 0.8em;">10 Min</p>
					</div>
					<div class="col-6 d-table">
						<div class="d-table-cell align-middle">
							<div class="full-screen-carousel-img" style="background-image: url({% static 'img/carouselFava.png' %}); height: 160px;"></div>
						</div>
					</div>
				</div>

			</div>
			<div id="recipeCard2" class="col-12 col-lg-6 col-xl-4">
				<div class="row">
					<div class="col-6">
						<h4>Φάβα με ελαιόλαδο και κρεμμύδι</h4>
						<hr class="fgGreen1" style="border-top: dashed 2px;">
						<h5 class="fgGreen1">{% trans "Main Ingredients:" %}</h5>
						<p style="font-size: 0.8em;">Fava, Kapari, Diosmos</p>
						<h5 class="fgGreen1">{% trans "Ready in:" %}</h5>
						<p style="font-size: 0.8em;">10 Min</p>
					</div>
					<div class="col-6 d-table">
						<div class="d-table-cell align-middle">
							<div class="full-screen-carousel-img" style="background-image: url({% static 'img/carouselFava.png' %}); height: 160px;"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>